/* "2.12" */
.banner {
    margin: -10px 0 0 0;
    color: white;
    height: 480px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.banner-contents
{
margin-left:40px;
padding-top:150px;
/* max-width:400px */
}
.banner-title
{
    font-size: 40px;
}
.buttons
{
    margin-top:40px;
    display: flex;
    justify-content: start;
    gap:3px;
}
.banner-btn
{
    background-color: rgba(51,51,51,0.5);
    color:white;
    border-radius:2px;
    padding:8px 22px;
    font-size: 20px;
}
.banner-btn:hover{
    color:rgba(0,0,0,1);
    background-color: white;
    transition: all 0.2s;
}
.banner-description
{
    
    font-size:0.8rem;
    line-height: 2px;
    padding-top:1rem;
}