/* "2.12" */
.banner {
    margin: -10px 0 0 0;
    color: white;
    height: 480px;
    width:100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.banner-fade
{   width:100%;
    margin:30px 0 0 -20px;
    height:7rem;
    background-image:linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);

}

.banner-contents
{
margin-left:40px;
padding-top:150px;
/* max-width:400px */
}
.banner-title
{
    font-size: 40px;
}
.buttons
{
    margin-top:40px;
    display: flex;
    justify-content: start;
    gap:3px;
}
.banner-btn
{
    background-color: rgba(51,51,51,0.5);
    color:white;
    border-radius:2px;
    padding:8px 22px;
    font-size: 20px;
}
.banner-btn:hover{
    color:rgba(0,0,0,1);
    background-color: white;
    transition: all 0.423s ease-in-out;
    
}
.banner-descriptions
{
    
    margin-top:18px;
    width:423px;
    font-size:0.9rem;
    line-height: 23px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}