.header-content
{
    width:100%;
    position: absolute;
    flex:2;
    display:flex;
    height:80px;
    justify-content: space-between;
}
.profile
{
    margin-top:20px;
}
.scrolled 
{
    position: fixed;
    background-color: #111;
}