.Container
{
width:100%;
 transition: transform 630ms ease;
 padding: 20px 8px 10px 8px;

}

.rowItems
{
    overflow: hidden;
    display: flex;
    gap:20px; 
    padding: 15px;
    overflow-x: scroll;
    overflow-y: none; 
    transition: transform 450ms;
} 
.rowItems::-webkit-scrollbar
{
    display:none;
}
.item
{
    border-radius: 5px;
    max-width: 150px;
    min-height: 180px; 
}
.item:hover{
    transform:scale(1.08);
    flex:2;
    transition: transform 450ms ease ;
}
.isLarge 
{
    height:260px;
    min-width: 200px;
}
.isLarge:hover {
    transform: scale(1.09);
    transition: transform 450ms ease;
}


.clip
{
    position: absolute;

    border-radius: 20px;
    flex:3;
}