.Container
{
 transition: transform 430ms ease;
 padding-left:8px;
}

.rowItems
{
    overflow: hidden;
    display: flex;
    gap:20px; 
    /* padding-bottom: 20px; */
    overflow-x: scroll;
    overflow-y: none; 
    transition: transform 450ms;
} 
.rowItems::-webkit-scrollbar
{
    display:none;
}
.item
{
    border-radius: 5px;
    max-width: 150px;
    min-height: 180px; 
}
.item:hover{
    transform:scale(1.08);
    transition: transform 450ms ;
}
.isLarge 
{
    height:260px;
    min-width: 200px;
}
.isLarge:hover {
    transform: scale(1.09);
    transition: transform 450ms;
}


